<%layout('layouts/boilerplate')-%>
<div class="row">
    <div class="col-8 offset-2">
            <div class="card">
            <img src="<%=list.image.url%>" class="card-img-top" alt="listing-image">
            <div class="card-body">
                <h5 class="card-title"><%=list.title%></h5>
                <p class="card-text"><%=list.description%></p>
                <p class="card-text">Price : ₹<%=list.price.toLocaleString("en-IN")%></p>
                <p class="card-text">Location : <%=list.location%></p>
                <p class="card-text">Country : <%=list.country%></p>
                <div class="form">
                 <form action="/listings/<%=list._id%>/edit"method="GET">
                    <button class="btn btn-primary">Edit the list</button>
                </form>
                <form action="/listings/<%=list._id%>/delete?_method=DELETE" method="POST">
                    <button class="btn btn-primary">Delete the list</button>
                </form>
                </div>
            </div>
            </div>
        </div>
</div>