<%layout('layouts/boilerplate')-%>
    <div class="row">
        <div class="col-8"><br><br>
    <h2>Edit your list</h2>
    <p>Existing Images</p>
        <div class="row">
        <% for (let img of listing.images) { %>
            <div class="col-md-4 mb-3">
            <img src="<%= img.url %>" class="img-fluid rounded mb-1">
            <form 
                action="/listings/<%= listing._id %>/images/<%= img._id %>?_method=DELETE"
                method="POST">
                <button class="btn btn-sm btn-danger">Delete</button>
            </form>
            </div>
        <% } %>
        </div>
        <hr>
        <form action="/listings/<%=listing._id%>?_method=PUT" method="POST" class="needs-validation" novalidate enctype="multipart/form-data">
        <div class="mb-3"><label for="title" class="form-label">Title</label>
            <input type="text"name="Listing[title]"  value="<%=listing.title%>" class="form-control" required>
            <div class="valid-feedback">Title looks good</div>
        </div>
         <div class="mb-3"><label for="description" class="form-label">Description</label>
            <textarea name="Listing[description]" class="form-control"required><%=listing.description%></textarea>
            <div class="invalid-feedback">Add some description</div>
        </div>
        <div class="mb-3">
        <label class="form-label">Add New Images</label>
        <input 
            type="file" 
            name="Listing[images]" 
            multiple 
            class="form-control"
        >
        </div>
        <div class="mb-3"><label for="price" class="form-label">Price</label>
             <input type="text"name="Listing[price]" value="<%=listing.price%>" class="form-control"required>
             <div class="invalid-feedback">Add a proper price</div>
        </div>
        <div class="row">
        <div class="mb-3 col-md-4"><label for="location" class="form-label">Location</label>
            <input type="text"name="Listing[location]" value="<%=listing.location%>" class="form-control"required>
            <div class="invalid-feedback">Add your state</div>
        </div>
        <div class="mb-3 col-md-8"><label for="country" class="form-label">Country</label>
            <input type="text"name="Listing[country]" value="<%=listing.country%>"class="form-control"required>
            <div class="invalid-feedback">Add your country</div>
        </div>
        </div>
         <label class="form-label">Category</label>
            <select name="Listing[category]" class="form-select" required>
            <option value="" disabled selected>Select category</option>
            <option value="Trending">Trending</option>
            <option value="Destinations">Destinations</option>
            <option value="Hotels">Hotels</option>
            <option value="Adventures">Adventures</option>
            <option value="Trips">Trips</option>
            <option value="Guides">Guides</option>
            <option value="Car Rentals">Car Rentals</option>
            <option value="Memories">Memories</option>
            </select>
        <button class="btn btn-dark add-btn mt-2">Update</button><br><br>
    </form>
    </div>
    </div>